.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.left, .right {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.left {
  text-align: left;
  font-weight: 700;
}